<%= link_to "Home", root_path %>
<%= link_to "Analyze", analysis_path %>
<%= link_to "Portfolio", portfolio_path %>

<h1>CHARTS HERE</h1>

<form>
<select class="currency" name="">
  <option>Select a crytocurrency</option>
  <option id='BTC'>Bitcoin</option>
  <option id='ETH'>Ethereum</option>
  <option id='XRP'>Ripple</option>
  <option id='LTC'>Litecoin</option>
  <option id='DASH'>Dash</option>
</select>

<select class="timeframe" name="">
  <option class='minute' id='60'>1 Hour</option>
  <option class='minute' id='180'>3 Hour</option>
  <option class='minute' id='360'>6 Hour</option>
  <option class='minute' id='720'>12 Hour</option>
  <option class='minute' id='1440'>1 Day</option>
  <option class='hour' id='168'>1 Week</option>
  <option class='hour' id='730'>1 Month</option>
  <option class='day' id='182'>6 Month</option>
  <option class='day' id='365'>1 Year</option>
  <option class='day' id='1095'>3 Year</option>
</select>

<select class="indicator1" name="">
  <option id=''>Select indicator</option>
  <option id='SMA5'>SMA5</option>
  <option id='SMA20'>SMA20</option>
  <option id='SMA50'>SMA50</option>
</select>

<select class="indicator2" name="">
  <option id=''>Select indicator</option>
  <option id='SMA5'>SMA5</option>
  <option id='SMA20'>SMA20</option>
  <option id='SMA50'>SMA50</option>
</select>
<button type="button" name="button">Chart</button>
</form>
<div id="graph"></div>
<div id="volume"></div>
