<%#= link_to "Home", root_path %>
<%#= link_to "Analyze", analysis_path %>
<%#= link_to "Portfolio", portfolio_path %>

<h1>Current Prices in USD</h1>
<h3 id='liveBTC'>Bitcoin</h3>
<h3 id='liveETH'>Ethereum</h3>
<h3 id='liveXRP'>Ripple</h3>
<h3 id='liveLTC'>Litecoin</h3>
<h3 id='liveDASH'>Dash</h3>

<h1>PORTFOLIO HERE</h1>
